@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    color: #000;
    overflow-x: hidden;
    font-family: 'Poppins';
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-account {
    display: flex;
    justify-content: flex-end;
}

#login-form {
    background-color: hsla(0,0%,100%,.92);
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;   
}



::placeholder {
    color: #bdbdbd;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 300;
}

::-ms-input-placeholder {
    color: #bdbdbd;
    font-weight: 300;
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2c3e50;
    font-size: 14px;
    letter-spacing: 1px;
    resize: none;
}


.input-box {
    width: 350px;
    height: 35px;
}

.btn-blue {
    background-color: #0096fa;
    width: 350px;
    height: 40px;
    color: #fff;
    border-style: none;
    border-radius: 20px;
    font-weight: 700;
}

.btn-blue:hover {
    background-color: #007dd1;
}

h5 {
    font-size: 16px;
}